.header_bg-dark{
    padding: 4.375rem 0;
}

.listing{
    margin-top: 1.5rem;
    list-style: none;
}

.listing__item{
    display: inline-block;
    width: 40%;
    margin: 5% 0;
}

.listing__item__button{
    border: none;
    background: transparent;
    color: #FFF;
}

.container{
    margin-top: 1rem;
}